HELP.md
target/
.mvn/
!**/src/main/java
!**/src/test/**
**/pom.xml.versionsBackup

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

work.txt

### claude ###
.claude/
./claude-plans
CLAUDE.md

### gsd ###
.planning/
claude-plans/
claude-local-tmp/